<p>sorry  <%= @user.email %> , your cancelation request is discard from spotmyarena!!!!!</p>
<h3>time: <%= @slot %></h3>
<h3>date: <%= @booking_date %></h3>
<h3>ground_name: <%= @ground %></h3>
<h3>reason: <%= @reason %></h3>
