<div class="main">
  <div class="container">
    <div class="main-cn element-page bg-white clearfix">
      <!--Breakcrumb-->
      <section class="breakcrumb-sc">
        <ul class="breadcrumb arrow">
          <li>Payment status</li>
        </ul>
      </section>
      <!--End Breakcrumb-->

      <section class="user-profile">
        <div class="row">
          <%= render :partial => 'grounds/side_bar' %>
          <div class="col-md-9">
            <h2 class="user-profile__title">payment success</h2>
            <hr>
            <div class="user-form">
              <div class="row">
                <div class="col-md-12">
                  <div class="hotel-list-cn clearfix">
                    <div class="hotel-list-item">
                      <div>
                      Status : <%= @status%>
                      </div>
                      <br>
                      <div>
                      Transaction id : <%= @transaction_id%>
                      </div>
                      <br>
                      <div>
                      Amount : <%= @amount%>
                      </div>
                      <br>
                      <div>
                      Net amount debit : <%= @net_amount_debit%>
                      </div>
                      <br>
                      <div>
                      Bank ref num : <%= @bank_ref_num%>
                      </div>
                      <br>
                      <div>
                      Email : <%= @email%>                        
                      </div>
                      <br>
                    </div>
                    <%= link_to 'go back', root_path, :class => 'awe-btn awe-btn-1 awe-btn-medium' %>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>