<div class="main">
  <div class="container">
    <div class="main-cn element-page bg-white clearfix">
      <!--Breakcrumb-->
      <section class="breakcrumb-sc">
        <ul class="breadcrumb arrow">
          <li>Cancelation requests</li>
        </ul>
      </section>
      <!--End Breakcrumb-->

      <section class="user-profile">
        <div class="row">
          <%= render :partial => 'grounds/side_bar' %>
          <div class="col-md-9">
            <h2 class="user-profile__title">Cancelation requests</h2>
            <hr>
            <div class="user-form">
              <div class="row">
                <div class="col-md-12">
                  <div class="hotel-list-cn clearfix">
                    <% if @transaction_history.count > 0 %>
                        <% @transaction_history.each do |transaction| %>
                            <div class="hotel-list-item">
                              <div id="request">
                                <h4>user:  <%= User.find(transaction.user_id).email%></h4>
                              </div>
                              <div>
                                <h4>status: <%= transaction.status %></h4>
                              </div>
                              <div>
                                <h4>transaction id: <%= transaction.transaction_id %></h4>
                              </div>
                              <div>
                                <h4>amount_debit: <%= transaction.amount_debit%> </h4>
                              </div>
                              <div>
                                <h4>bank_ref_num <%= transaction.bank_ref_num %></h4>
                              </div>
                              <hr>
                              <hr>
                            </div>
                        <% end %>
                    <% else %>
                        <hr>
                        currenly you don't have any cancellation..!!!
                        <hr>
                    <% end %>
                  </div>
                  <%= link_to 'go back', root_path, :class => 'awe-btn awe-btn-1 awe-btn-medium' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<style type="text/css">
#request{  
  background: palegreen none repeat scroll 0 0;
  height: 25px;
  text-align: center;
  width: 100%;
}
</style>