<div class="nested-fields">
   	<%= f.label :time %><br>
    <%= f.select :slot, options_for_select(BookingTime::SLOT), {:placeholder => "select time slot"}, class: 'input-select-time', include_blank: false %>
    <%= f.check_box :status, {checked: true} %>&nbsp;&nbsp;<%= f.label 'Available' %>
    <%= link_to_remove_association "remove time slot", f, class: "btn-remove"%>
    <div class="clrfix"></div>
</div>
