<% if @grounds.present? %>
    <div class="table-responsive">          
    <table class="table">
      <h3>grounds</h3>
      <thead>
        <tr>
          <th>name</th>
          <th>category</th>
          <th>city</th>
          <th>area</th>
          <th>address</th>
          <th>pincode</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <% @grounds.each do |ground| %>
          <tr>
            <td><%= ground.name %></td>
              <td><%= ground.category %></td>
              <td><%= ground.city %></td>
              <td><%= ground.area %></td>
              <td><%= ground.address %></td>
              <td><%= ground.pincode %></td>
              <td><%= ground.status %></td>
              <td><%= link_to 'Show', ground %></td>
              <td><%= link_to 'Edit', edit_ground_path(ground) %></td>
              <td><%= link_to 'Destroy', ground, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
<% else %>
  <h3> you don't have any grounds records</h3>
<% end %>
<br>
<%= link_to 'New ground add', new_ground_path %></br> 
<%= link_to 'go back', root_path, :class => 'navbar-link' %>
