

<section class="sub-banner">
  <!--Background-->
  <div class="bg-parallax bg-1"></div>
  <!--End Background-->
  <!-- Logo -->
  <div class="logo-banner text-center">
    <%= link_to root_path do %>
      <%= image_tag "logo-banner.png", class: "" %>
    <% end %>
  </div>
  <!-- Logo -->
</section>
<!--End Banner-->

<!-- Main -->
<div class="main">
  <div class="container">
    <div class="main-cn hotel-page bg-white clearfix">
      <div class="row">
  
  <!-- Hotel Right -->
        <div class="col-md-9 col-md-push-3">

      <!-- Breakcrumb -->
          <section class="breakcrumb-sc">
            <ul class="breadcrumb arrow">
              <li><a href="index.html"><i class="fa fa-home"></i></a></li>
              <li><a href="hotel.html" title="">Grounds</a></li>
              <li><%= link_to 'New ground add', new_ground_path , :class => 'awe-btn awe-btn-1 awe-btn-medium'%></li>
              <li></li>
            </ul>
          </section>
        <!-- End Breakcrumb -->
        <!-- Hotel List -->
          <section class="hotel-list">

          <!-- Sort by and View by -->
            <div class="sort-view clearfix">
              <!-- Sort by -->
              <div class="sort-by float-left">
                <label>Sort by: </label>
                <div class="sort-select select float-left">
                  <span data-placeholder="Select">Star rating</span>
                  <select name="start">
                    <option value="1">Star rating</option>
                    <option selected value="1">Star rating 1</option>
                    <option value="1">Star rating 2</option>
                    <option value="1">Star rating 3</option>
                  </select>
                </div>
                <div class="sort-select select float-left">
                  <span data-placeholder="Select">Guest rating</span>
                  <select name="guest">
                    <option value="1">Guest rating</option>
                    <option selected value="1">Guest rating 1</option>
                    <option value="1">Guest rating 2</option>
                    <option value="1">Guest rating 3</option>
                  </select>
                </div>
                <div class="sort-select select float-left">
                  <span data-placeholder="Select">Pricing</span>
                  <select name="pricing">
                    <option value="1">Pricing</option>
                    <option selected value="1">Pricing</option>
                    <option value="1">Pricing</option>
                    <option value="1">Pricing</option>
                  </select>
                </div>
              </div>
              <!-- End Sort by -->
              <!-- View by -->
              <div class="view-by float-right">
                <ul>
                  <li><a href="#" title=""><%= image_tag "icon-grid.png", class: "" %></a></li>
                  <li><a href="#" title="" class="current"><%= image_tag "icon-list.png" %></a></li>
                  <li><a href="#" title=""><%= image_tag "icon-map.png" %></a></li>
                </ul>
              </div>
              <!-- View by -->
            </div>
          <!-- End Sort by and View by -->

          <!-- Hotel Grid Content-->
            <div class="hotel-list-cn clearfix">

            <!-- Hotel Item -->
            <% if @grounds.present? %>
            <% @grounds.each do |ground| %>
              <div class="hotel-list-item">
                <figure class="hotel-img float-left">
                  <a href="hotel-detail.html" title="">
                    <%= image_tag "image-ground.JPG" %>
                  </a>
                </figure>
                <div class="hotel-text">
                  <div class="hotel-name">
                    <a href="hotel-detail.html" title=""><%= ground.name %></a>
                    
                  </div>
                  <div class="hotel-star-address">
                    <span class="hotel-star">
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star"></i>
                    </span>
                    <span class="rating">
                      Good <br>
                      <ins>7.5</ins>
                    </span>
                    <address class="hotel-address">
                      <%= ground.area %>
                    </address>
                  </div>
                  <p>
                    My stay at cumberland hotel was amazing, loved the location, was close to all the major attractions allthough there rooms seemed... <a href="" title="">view all 125 reviews</a>
                  </p>
                  <hr class="hr">
                  <div class="price-box float-left">
                    <span class="price old-price">From-</span>
                    <span class="price special-price">$345<small>/night</small></span>
                  </div>
                  <div class="hotel-service float-right">
                    <%= ground.category%>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
              <!-- End Hotel Item -->
              <!-- Hotel Item -->
            </div>
            <%= link_to 'go back', root_path, :class => 'awe-btn awe-btn-1 awe-btn-medium' %>
          </section>
        </div>
        <div class="col-md-3 col-md-pull-9">
                  <!-- Sidebar Content -->
                  <div class="sidebar-cn">
                    <!-- Search Result -->
                    <div class="search-result">
                      <p>
                        We found <br>
                        <ins>640</ins> <span>grounds availability</span>
                      </p>
                    </div>
                    <!-- End Search Result -->
                    <!-- Search Form Sidebar -->
                    <div class="search-sidebar">
                      <div class="row">
                        <div class="form-search clearfix">
                        <%= form_tag search_grounds_path, :method => 'get' do %>
                          <div class="form-field col-md-12">
                            <div class="select">
                              <span>Ground Type</span>
                              <%= select_tag :category, options_for_select(Ground::CATEGORY, params[:category]), include_blank: false%>
                            </div>
                          </div>
                          <div class="form-field field-date col-md-12">
                            <div class="select">
                              <span>Select City</span>
                              <%= select_tag :city, options_for_select(Ground::CITY, params[:city]), include_blank: false %>
                            </div>
                          </div>
                          <div class="form-field field-date col-md-12">
                            <div class="select">
                              <span>Location</span>
                              <%= select_tag :area, options_for_select(Ground::AREA, params[:area]), include_blank: false%>
                            </div>
                          </div>
                          <div class="form-field field-date col-md-12">
                            <%= text_field_tag :date,(params[:date] or Date.today), class: 'field-input calendar-input', placeholder: "Check in", id: "destination" %> 
                          </div>
                          <div class="form-submit col-md-12">
                            
                            <%= submit_tag "Search", :name => 'search_grounds', class: "awe-btn awe-btn-medium awe-search" %>
                          </div>
                        <% end %>
                        </div>
                      </div>
                    </div>
                    <!-- End Search Form Sidebar -->
                    <!-- Narrow your results -->
                    <!-- <div class="narrow-results">
                      <h6>Narrow your results</h6>
                      <div class="narrow-form">
                        <form action="narrow" method="get">
                          <input type="text" name="" class="narrow-input" placeholder="Property name contains:">
                          <button class="submit-narrow"></button>
                        </form>
                      </div>
                    </div>
                    <!-- End Narrow your results -->
                    <!-- Star rating-->
                    <!-- <div class="widget-sidebar start-rating-sidebar">
                      <h4 class="title-sidebar">Star rating</h4>
                      <ul class="widget-rate">
                        <li>
                          <div class="radio-checkbox">
                            <input id="rating-5" type="checkbox" class="checkbox" />
                            <label for="rating-5"></label>
                          </div>
                          <div class="group-star">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                          </div>
                          5 Stars
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="rating-4" type="checkbox" class="checkbox" />
                            <label for="rating-4"></label>
                          </div>
                          <div class="group-star">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                          </div>
                          4 Stars
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="rating-3" type="checkbox" class="checkbox" />
                            <label for="rating-3"></label>
                          </div>
                          <div class="group-star">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                          </div>
                          3 Stars
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="rating-2" type="checkbox" class="checkbox" />
                            <label for="rating-2"></label>
                          </div>
                          <div class="group-star">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                          </div>
                          2 Stars
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="rating-1" type="checkbox" class="checkbox" />
                            <label for="rating-1"></label>
                          </div>
                          <div class="group-star">
                            <i class="glyphicon glyphicon-star"></i>
                          </div>
                          1 Stars
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="rating-6" type="checkbox" class="checkbox" />
                            <label for="rating-6"></label>
                          </div>
                          <div class="group-star">
                            <i class="glyphicon glyphicon-star-empty"></i>
                          </div>
                          Not Rated
                          <span>12</span>
                        </li>
                      </ul>
                    </div> -->
                    <!-- End Star rating -->
                    <!-- Price Slider -->
                    <!-- <div class="widget-sidebar price-slider-sidebar">
                      <h4 class="title-sidebar">Price <span>(per night)</span></h4>
                      <div class="slider-sidebar price-slider">
                        <input type="text" name="price" class="range" value="0,1500" />
                      </div>
                    </div> -->
                    <!-- End Price Slider -->
                    <!-- Hotel facilities -->
                   <!--  <div class="widget-sidebar facilities-sidebar">
                      <h4 class="title-sidebar">Hotel facilities</h4>
                      <ul class="widget-ul">
                        <li>
                          <div class="radio-checkbox">
                            <input id="facilities-1" type="checkbox" class="checkbox" />
                            <label for="facilities-1">Swimming Pool</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="facilities-2" type="checkbox" class="checkbox" checked />
                            <label for="facilities-2">Gym/Fitness</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="facilities-3" type="checkbox" class="checkbox" />
                            <label for="facilities-3">Car Park</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="facilities-4" type="checkbox" class="checkbox" />
                            <label for="facilities-4">Spa/Sauna</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="facilities-5" type="checkbox" class="checkbox" />
                            <label for="facilities-5">Casino</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="facilities-6" type="checkbox" class="checkbox" />
                            <label for="facilities-6">Free Wifi</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="facilities-7" type="checkbox" class="checkbox" />
                            <label for="facilities-7">Pet-friendly</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="facilities-8" type="checkbox" class="checkbox" />
                            <label for="facilities-8">Airport Transfer</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="facilities-9" type="checkbox" class="checkbox" />
                            <label for="facilities-9">Smoking Area</label>
                          </div>
                          <span>12</span>
                        </li>
                      </ul>
                    </div> -->
                    <!-- End Hotel facilities -->
                    <!-- Area -->
                   <!--  <div class="widget-sidebar area-sidebar">
                      <h4 class="title-sidebar">Area</h4>
                      <ul class="widget-ul">
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-1" type="checkbox" class="checkbox" />
                            <label for="area-1">Earls Court</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-2" type="checkbox" class="checkbox" checked />
                            <label for="area-2">Victoria and Westminster</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-3" type="checkbox" class="checkbox" />
                            <label for="area-3">Bloomsbury - Fitzrovia</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-4" type="checkbox" class="checkbox" />
                            <label for="area-4">West End -Soho</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-5" type="checkbox" class="checkbox" />
                            <label for="area-5">Chelsea - Kensington</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-6" type="checkbox" class="checkbox" />
                            <label for="area-6">Heathrow &amp; Nearby</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-7" type="checkbox" class="checkbox" />
                            <label for="area-7">Gatwick Airport &amp; Nearby</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-8" type="checkbox" class="checkbox" />
                            <label for="area-8">Heathrow &amp; Nearby</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-9" type="checkbox" class="checkbox" />
                            <label for="area-9">The City</label>
                          </div>
                          <span>12</span>
                        </li>
                        <li>
                          <div class="radio-checkbox">
                            <input id="area-10" type="checkbox" class="checkbox" />
                            <label for="area-10">Greenwich</label>
                          </div>
                          <span>12</span>
                        </li>
                      </ul>
                    </div> -->
                    <!-- End Area -->

                  </div>
                  <!-- End Sidebar Content -->
                </div>
                <!-- End Sidebar Hotel -->
      </div>
    </div>
  </div>
</div>