<h3>ground</h3>
<p>Name: <%= @ground.name if @ground.name %></p>
<br>
<p>ground: <%= @ground.category if @ground.category %></p>
<br>
<p>city: <%= @ground.city if @ground.city %></p>
<br>
<p>area: <%= @ground.area if @ground.area %></p>
<br>
<p>address: <%= @ground.address if @ground.address %></p>
<br>

<p>status: <%= @ground.ground_status %></p>
<br>

<p>Dats: <%=  @ground.booking_dates.map{|e| [e.date_of_booking , e.booking_times.map{|ee| ee.timeslot.slot}]}.flatten %></p>
<br>


<%= link_to "back", grounds_path %>